body{
  background: linear-gradient(to left, teal, cyan);
  justify-content: center;
}

.App{
  display:grid;
  grid-template-columns:repeat(4,6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  padding: 2rem;
}

.App > button:hover{
  background-color: rgb(121, 200, 176);
}

.App > button{
  font-size: x-large;
}

.span-two{
  grid-column: span 2;
}

.output{
  grid-column: span 4;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: end;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  font-size: x-large;
}